#jumbo {
    color: #eeeeee;
    background: #122b40;
}
#jumbo-container {
    width: 90%;
}
#chmod-form {
    width: 90%;
}
#chmod-calc-table {
    color: white;
    font-size: 2rem;
    border: solid 3px #000000;
    border-radius: 5px;
    background: #333333;
}
#chmod-form input[type=checkbox] {
    display: none;
}

/*
- Style each label that is directly after the input
- position: relative; will ensure that any position: absolute children will position themselves in relation to it
*/
#chmod-form input[type=checkbox] + label {
    position: relative;
    background: url("../../build/img/checkbox-backing.png") no-repeat center;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    vertical-align:top;
    opacity: 0.5;
    transition: opacity .25s ease-in-out, box-shadow 0.4s, border 0.4s;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border: solid 2px #122b40;
    box-shadow: 0 0 1px #FFF;/* Soften the jagged edge */
    cursor: pointer;
}
/* Provide a border when hovered and when the checkbox before it is checked */

#chmod-form input[type=checkbox] + label :hover,
#chmod-form input[type=checkbox]:checked + label{
    border: solid 3px #122b40;
    box-shadow: 0 0 1px #FFF;
    /* Soften the jagged edge */
    opacity: 1;
}
/*
- Create a pseudo element :after when checked and provide a tick
- Center the content
*/

#chmod-form input[type=checkbox]:checked + label:after {
    content: '\2714';
    /*content is required, though it can be empty - content: '';*/
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #000;
    line-height: 1;
    font-size: 26px;
    text-align: center;
}
